<form id="employeeForm" [formGroup]="employeeForm" *ngIf="employeeForm" (ngSubmit)="submit()">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center turquoise">{{submitMessage}} Employee</h5>
                        <ng-container class="card" *ngIf="employee">
                            <div class="card-body">

                                <app-input-field [forControl]="getFormControl('firstName')" label="First-Name"
                                    idName="firstName" />

                                <app-input-field [forControl]="getFormControl('lastName')" label="Last-Name"
                                    idName="lastName" />

                                <app-input-field [forControl]="getFormControl('identityNumber')" label="Identity-Number"
                                    idName="identityNumber" />

                                <div class="card forInnerCard">
                                    <div class="card-body">
                                        <div class="form-group form-floating mb-3">
                                            <div id="gender" class="forSelectLable" for="gender">Select Gender:</div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gender" id="male"
                                                    [value]="0" formControlName="gender">
                                                <label class="form-check-label" for="male"> 🧑 male </label>
                                            </div>

                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gender" id="female"
                                                    [value]="1" formControlName="gender">
                                                <label class="form-check-label" for="female"> 👩 female </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <app-input-field [forControl]="getFormControl('birthDate')" label="Birth-Date"
                                    idName="birthDate" typeString="date" />

                                <app-input-field [forControl]="getFormControl('startWorking')"
                                    label="Start-Working-Date" idName="startWorking" typeString="date" />

                                <!-- roles -->
                                <div class="card forInnerCard">
                                    <div class="card-body">
                                        <h6 class="card-title text-center turquoise">Roles</h6>
                                        <button type="button" id="addRole" class="btn btn-outline-success mb-2"
                                            (click)="addRole()">
                                            <i class="bi bi-file-earmark-plus-fill">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-file-earmark-plus-fill"
                                                    viewBox="0 0 16 16">
                                                    <path
                                                        d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M8.5 7v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 1 0" />
                                                </svg>
                                            </i>
                                        </button>
                                        <div formArrayName="roles">
                                            <div *ngFor="let item of rolesArray?.controls; let i = index" class="mb-3"
                                                [formGroupName]="i">
                                                <div class="form-group form-floating mb-3 card blue-card"
                                                    style="width: 100%;">
                                                    <div class="card-body">
                                                        <div class="d-flex justify-content-between forSelectLable">
                                                            <div>Role {{i + 1}}: </div>
                                                            <button class="btn btn-outline-danger"
                                                                (click)="removeRole(i)">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                    height="16" fill="currentColor" class="bi bi-trash"
                                                                    viewBox="0 0 16 16">
                                                                    <path
                                                                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                                                    <path
                                                                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                                                </svg>
                                                            </button>
                                                        </div>
                                                        <div class="form-group form-floating mb-3">
                                                            <select class="form-select" formControlName="nameId"
                                                                [ngClass]="{'is-invalid': rolesArray.controls[i].get('nameId').touched && !rolesArray.controls[i].get('nameId').value}">
                                                                <option [value]="-1" selected>
                                                                    choose role </option>
                                                                <option *ngFor="let role of rolesNames"
                                                                    [value]="role.id"
                                                                    [disabled]="!isAvailableRoleName(role.id)">
                                                                    {{ role.name }}
                                                                </option>
                                                            </select>
                                                            <label for="categoryId">Role Name:</label>
                                                            <ng-container>
                                                                <div *ngIf="rolesArray.controls[i].get('nameId').touched && !rolesArray.controls[i].get('nameId').value"
                                                                    class="alert alert-danger">
                                                                    Please select a role
                                                                </div>
                                                            </ng-container>
                                                        </div>
                                                        <div class="form-group form-floating mb-3 card">
                                                            <div class="card-body">
                                                                <div id="isManagerial" class="forSelectLable">
                                                                    Is Role Managerial:
                                                                </div>
                                                                <div class="form-check form-switch">
                                                                    <input class="form-check-input" type="checkbox"
                                                                        formControlName="isManagerial" role="switch"
                                                                        id="flexSwitchCheckChecked">
                                                                    <label class="form-check-label"
                                                                        for="flexSwitchCheckChecked">
                                                                        {{rolesArray.controls[i].get('isManagerial').value
                                                                        == true?'Yes':'No'}}
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <app-input-field [forControl]="getRoleController(i,'startRole')"
                                                            label="Start Role Date" idName="startRole"
                                                            typeString="date" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-grid gap-2">
                                    <button type="submit" class="btn btn-success" [disabled]="!isFormValid()">
                                        {{submitMessage}} Employee
                                    </button>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>