<form id="userForm" [formGroup]="userForm" *ngIf="userForm" (ngSubmit)="submit()">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center turquoise">Login To Team</h5>
                        <ng-container class="card">
                            <div class="card-body">

                                <app-input-field [forControl]="getFormControl('name')" label="Team-Name"
                                    idName="name" />

                                <app-input-field [forControl]="getFormControl('password')" label="Team-Password"
                                    idName="password" />

                                <div class="d-grid gap-2">
                                    <button type="submit" class="btn btn-success" [disabled]="userForm.invalid">
                                        Login
                                    </button>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div>
    <h5>clue: (just for development)</h5>
    <div>
        <h6>Name:</h6>
        <p>'Development'</p>
    </div>
    <div>
        <h6>Password:</h6>
        <p>'d123'</p>
    </div>
</div>