<!-- <div class="form-group form-floating mb-3">
    <input class="form-control"
        [ngClass]="{'is-invalid': form.controls[formControlName].touched && form.controls[formControlName].errors}"
        type="{{typeString}}" id="{{formControlName}}" formControlName="{{formControlName}}" name="{{formControlName}}" />
    <label for="{{formControlName}}">{{label}}</label>
    <ng-container *ngIf="form.controls[formControlName].touched && form.controls[formControlName].errors">
        <div class="alert alert-danger" *ngIf="form.controls[formControlName].errors['required']">
            This field is required</div>
         <div class="alert alert-danger" *ngIf="form.controls[formControlName].errors['pattern']">
            {{Instructions[pattern]}}</div>
    </ng-container>
</div>
<div>jlk;jkljkl</div> -->

<div class="form-group form-floating mb-3">
    <label for="{{controlName}}">{{ label }}</label>
    <input
        [ngClass]="{'is-invalid': form.controls[controlName].touched && form.controls[controlName].errors}"
        name="{{controlName}}"
        id="{{controlName}}"
        class="form-control" 
        [type]="typeString"
        class="form-control" 
        [placeholder]="placeholder"
        formControlName="{{form.get(controlName)}}"
        (input)="onValueChange($event)"
    >
    <ng-container *ngIf="form.controls[controlName].touched && form.controls[controlName].errors">
        <div class="alert alert-danger" *ngIf="form.controls[controlName].errors['required']">
            This field is required</div>
         <div class="alert alert-danger" *ngIf="form.controls[controlName].errors['pattern']">
            {{validationErrors?.pattern}}</div>
    </ng-container>
</div>