<header class="flex">

    <h1>Employees</h1>
    <button *ngIf="userName" class="btn btn-outline-warning" (click)="showLogout()">
        <i class="bi bi-person-fill">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill"
                viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
            </svg>
            {{userName}}
        </i>
    </button>
    <div *ngIf="show" class="position-absolute rounded bg-secondary bg-opacity-75 p-1">
        <div class="dropdown-item" (click)="logout()">Log Out</div>
    </div>

</header>